apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  # namespace: postgres
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres-container
          image: postgres
          envFrom:
            - configMapRef:
                name: db-deployment-configmap
            - secretRef:
                name:  postgres-secrets
          ports:
            - containerPort: 5432
          


